In [1]:
import polars as pl 

df = pl.read_csv('../data/01_sample.txt')

In [2]:
df.head()

shape: (5, 2)
┌─────┬─────┐
│ one ┆ two │
│ --- ┆ --- │
│ i64 ┆ i64 │
╞═════╪═════╡
│ 3   ┆ 4   │
│ 4   ┆ 3   │
│ 2   ┆ 5   │
│ 1   ┆ 3   │
│ 3   ┆ 9   │
└─────┴─────┘

In [3]:
def sort_series(columm='column'):
    sorted_series = df.select(columm).sort(columm)
    return sorted_series

In [4]:
one_sorted = df.select('one').sort('one')
two_sorted = df.select('two').sort('two')

In [5]:
sorted_df = pl.concat([one_sorted, two_sorted], how='horizontal')

In [6]:
sorted_df = sorted_df.with_columns(
    three = abs(pl.col('one') - pl.col('two'))
)

In [7]:
sorted_df.select('three').sum()

shape: (1, 1)
┌───────┐
│ three │
│ ---   │
│ i64   │
╞═══════╡
│ 11    │
└───────┘

In [8]:
def get_solution(df=df):
    one_sorted = df.select('one').sort('one')
    two_sorted = df.select('two').sort('two')

    sorted_df = pl.concat([one_sorted, two_sorted], how='horizontal')

    sorted_df = sorted_df.with_columns(
                three = abs(pl.col('one') - pl.col('two'))
                )

    answer = sorted_df.select('three').sum()

    return answer

In [9]:
get_solution(df)

shape: (1, 1)
┌───────┐
│ three │
│ ---   │
│ i64   │
╞═══════╡
│ 11    │
└───────┘

In [10]:
df2 = pl.read_csv('../data/01_data.txt')

In [11]:
get_solution(df2)

shape: (1, 1)
┌─────────┐
│ three   │
│ ---     │
│ i64     │
╞═════════╡
│ 3508942 │
└─────────┘

In [12]:
df

shape: (6, 2)
┌─────┬─────┐
│ one ┆ two │
│ --- ┆ --- │
│ i64 ┆ i64 │
╞═════╪═════╡
│ 3   ┆ 4   │
│ 4   ┆ 3   │
│ 2   ┆ 5   │
│ 1   ┆ 3   │
│ 3   ┆ 9   │
│ 3   ┆ 3   │
└─────┴─────┘

In [18]:
df1_vc = df['two'].value_counts()

df1_vc

shape: (4, 2)
┌─────┬───────┐
│ two ┆ count │
│ --- ┆ ---   │
│ i64 ┆ u32   │
╞═════╪═══════╡
│ 4   ┆ 1     │
│ 3   ┆ 3     │
│ 9   ┆ 1     │
│ 5   ┆ 1     │
└─────┴───────┘

In [19]:
df1 = df.join(df1_vc, on='one', how='left')

ColumnNotFoundError: one

Resolved plan until failure:

	---> FAILED HERE RESOLVING 'join' <---
DF ["two", "count"]; PROJECT */2 COLUMNS; SELECTION: None